%frame{
    border-top:1px solid red;
    border-bottom:1px solid red;
    background-color: rgb(17, 17, 17);
    box-shadow: 0 0 5px rgb(124, 0, 0);
}
$main-text-color: rgb(255, 255, 255);
%display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{margin: 0;
    background-image: url(/img/background.jpg);
    background-size:500% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    backdrop-filter: blur(2px);
    filter: blur(2px);
    z-index: -1;
}

// Верхня "Шторка"
.mobile-header{position: fixed;
    @extend %display-flex;
    top: 0px;
    width: 100%;
    height: 90px;
    font-size:10px;
    color: $main-text-color;
    z-index: 2;
    background: linear-gradient(
        to bottom,
        rgb(14, 14, 14) 0%,
        rgba(14,14,14,1) 70%,
        rgba(14,14,14,0.8) 80%,
        rgba(14,14,14,0.7) 83%,
        rgba(14,14,14,0.6) 86%,
        rgba(14,14,14,0.5) 89%,
        rgba(14,14,14,0.4) 92%,
        rgba(14,14,14,0.3) 95%,
        rgba(14,14,14,0) 100%
    );
h1{position: absolute;
    top:-10px;
    font-size:35px;
}
}

.discord, .telegram, .tiktok{
    @extend %frame;
    display: flex;               // важливо!
    justify-content: flex-start; // картинка + текст зліва
    align-items: center;         // вирівнювання по центру вертикалі
    gap: 20px;                   // відступ між картинкою і текстом
    height: 170px;
    font-size: 25px;
    text-shadow: 0 0 10px;
    margin:auto auto 50px;
}

.discord a, .telegram a, .tiktok a{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    text-decoration: none;
    color: $main-text-color;
}

.discord nav, .telegram nav, .tiktok nav{
    position: relative;
    left:100px;
}

img{height:90px;
    width: 90px;
}

// Бургер-меню
.burger-menu{
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger-menu div{
  width: 37px;
  height: 4px;
  background:linear-gradient(90deg, rgb(255, 21, 21), rgb(255, 121, 31));
  transition: 0.3s;
  position: relative;
  left:160px;
  top:-4px;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -290px;
  width: 210px;
  height: 100%;
  background-color: rgb(28, 28, 28);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 58px 10px;
  gap: 7px;
  transition: right 0.3s ease;
  z-index: 1;
  top:35px;
  font-size:23px;  
  overflow: auto;
}

.side-menu a{
    text-decoration: none;
    color: $main-text-color;
}

.side-menu.active {
  right: 0;
}

hr{width:100%;
    color:rgb(158, 0, 0);
}

.a3{margin-left: 38px;}

.discord{
    margin-top:140px;
}