%flex-display{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

$main-text-color:rgb(211, 211, 211);

%blured-frame{
    border:1px solid gray;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
    background-color: rgba(17, 17, 17, 0.5);
    backdrop-filter: blur(2px);
}

%highlighted-text-color{
    color: red;
    text-shadow: 0 0 10px red;
    font-family:monospace;
    font-size:40px;
}

body{margin: 0;
    background-image: url(/img/background.jpg);
    background-size:500% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

// Верхня "Шторка"
.mobile-header{position: fixed;
    top: 0px;
    width: 100%;
    height: 90px;
    font-size:10px;
    color: $main-text-color;
    z-index: 2;
    background: linear-gradient(
        to bottom,
        rgb(14, 14, 14) 0%,
        rgba(14,14,14,1) 70%,
        rgba(14,14,14,0.8) 80%,
        rgba(14,14,14,0.7) 83%,
        rgba(14,14,14,0.6) 86%,
        rgba(14,14,14,0.5) 89%,
        rgba(14,14,14,0.4) 92%,
        rgba(14,14,14,0.3) 95%,
        rgba(14,14,14,0) 100%
    );
h1{@extend %flex-display;
    position: relative;
    top:20px;
    font-size:26px;
    margin: 0;
}
}

// Бургер-меню
.burger-menu{
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  position: relative;
  left:352px;
  top:-6px;
}

.burger-menu div{
  width: 37px;
  height: 4px;
  background:linear-gradient(90deg, rgb(255, 21, 21), rgb(255, 121, 31));
  transition: 0.3s;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -290px;
  width: 210px;
  height: 100%;
  background-color: rgb(28, 28, 28);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 58px 10px;
  gap: 7px;
  transition: right 0.3s ease;
  z-index: 1;
  top:35px;
  font-size:23px;  
  overflow: auto;
}

.side-menu a{
    text-decoration: none;
    color: $main-text-color;
}

.side-menu.active {
  right: 0;
}

hr{width:100%;
    color:rgb(158, 0, 0);
}

.blur-frame{
    @extend %blured-frame;
    height:200px;
    color:$main-text-color;
    position: relative;
    top:120px;
    margin:0 20px;
& h2{
    @extend %highlighted-text-color;
    margin:15px auto;
    @extend %flex-display;
}
& p{
    margin:45px 10px;
}
}

.nav-menu{
    @extend %blured-frame;
    margin: 0 20px;
    position: relative;
    top:150px;
& a{
    text-decoration: none;
    text-shadow: 0 0 10px white;
    color:$main-text-color;
}
& h2{
    @extend %highlighted-text-color;
    font-size: 25px;
    @extend %flex-display;
}
ul{
    color:$main-text-color;
}
}

.main{
    background-color: rgb(17, 17, 17);
    position: relative;
    top:180px;
    height: max-content;
    border-top: 1px solid red;
}

.main-h{
    color:$main-text-color;
    text-shadow: 0 0 3px rgb(174, 72, 0);
& h3{
    @extend %flex-display;
    font-size: 20px;
}
& ul{
    text-shadow: none;
    margin: -10px 10px 10px -10px;
}
}

html{
    scroll-behavior: smooth;
}

