%flex-display{
    display: flex;
    justify-content: center;
    align-items: center;
}
$main-color-text:rgb(255, 255, 255);
%blured-frame{
    border:1px solid gray;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
    background-color: rgba(17, 17, 17, 0.5);
    backdrop-filter: blur(2px);
}
%btn-style{
    background:linear-gradient(90deg, rgb(75, 75, 255), rgb(31, 31, 255));
    width:150px;
    height:36px;
    border:none;
    border-radius: 4px;
    color:$main-color-text;
    font-size:20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

// Верхня "Шторка"
.mobile-header{position: fixed;
    @extend %flex-display;
    top: 0px;
    left:0px;
    width: 100%;
    height: 90px;
    font-size:10px;
    color: $main-color-text;
    z-index: 2;
    background: linear-gradient(
        to bottom,
        rgb(14, 14, 14) 0%,
        rgba(14,14,14,1) 70%,
        rgba(14,14,14,0.8) 80%,
        rgba(14,14,14,0.7) 83%,
        rgba(14,14,14,0.6) 86%,
        rgba(14,14,14,0.5) 89%,
        rgba(14,14,14,0.4) 92%,
        rgba(14,14,14,0.3) 95%,
        rgba(14,14,14,0) 100%
    );
h1{position: relative;
    top:-10px;
    left:30px;
    font-size:25px;
}
}

body{margin: 0;
    background-image: url("/img/background.jpg");
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.main{
    @extend %blured-frame;
    position: relative;
    top:120px;
    margin:auto 30px;
    height:580px;
    color:$main-color-text;
    font-size:30px;
    @extend %flex-display;
.l-name{
    position: absolute;
    top:35px;
    left:150px;
}
.l-email{
    position: absolute;
    top:150px;
    left:140px;
}
.i-name{position: absolute;
    top:90px;
    left:70px
}
.i-email{position: absolute;
    top:200px;
    left:70px;
}
textarea{height:160px;
    width:210px;
    position: absolute;
    top:310px;
    left:70px;
    background-color: rgb(17,17,17);
    border:none;
    color:$main-color-text;
    font-size: 20px;
}
textarea::placeholder{
    color:$main-color-text;
    font-size: 15px;
}
.textarea{position: absolute;
    top:260px;
    left:67px;
}
input{
    display: flex;
    align-content: center;
    height: 28px;
    width:210px;
    background: none;
    border: 1px solid rgb(255, 0, 0);
    border-top:none;
    border-right:none;
    border-left:none;
    color:$main-color-text;
    font-size: 18px;
}
input:focus{
    outline: none;
}
}

button{
    @extend %btn-style;
    position: absolute;
    top:510px;
}

// Бургер-меню
.burger-menu{
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger-menu div{
  width: 37px;
  height: 4px;
  background:linear-gradient(90deg, rgb(255, 21, 21), rgb(255, 121, 31));
  transition: 0.3s;
  position: relative;
  left:74px;
  top:-4px;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -290px;
  width: 210px;
  height: 100%;
  background-color: rgb(28, 28, 28);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 58px 10px;
  gap: 7px;
  transition: right 0.3s ease;
  z-index: 1;
  top:35px;
  font-size:23px;
  overflow-x: auto;  
}

.side-menu a{
    text-decoration: none;
    color: $main-color-text;
}

.side-menu.active {
  right: 0;
}

hr{width:100%;
    color:rgb(158, 0, 0);
}

.a3{margin-left: 38px;}