%flex-display{
    display: flex;
    justify-content: center;
    align-items: center;
}
$main-text-color:rgb(255, 255, 255);

body{margin: 0;
    background-color: black;
    background-size:500% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

// Верхня "Шторка"
.mobile-header{position: fixed;
    top: 0px;
    width: 100%;
    height: 90px;
    font-size:10px;
    color: $main-text-color;
    z-index: 2;
    background: linear-gradient(
        to bottom,
        rgb(14, 14, 14) 0%,
        rgba(14,14,14,1) 70%,
        rgba(14,14,14,0.8) 80%,
        rgba(14,14,14,0.7) 83%,
        rgba(14,14,14,0.6) 86%,
        rgba(14,14,14,0.5) 89%,
        rgba(14,14,14,0.4) 92%,
        rgba(14,14,14,0.3) 95%,
        rgba(14,14,14,0) 100%
    );
h1{@extend %flex-display;
    position: relative;
    top:15px;
    font-size:18px;
}
}

// Бургер-меню
.burger-menu{
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  position: relative;
  left:352px;
  top:-20px;
}

.burger-menu div{
  width: 37px;
  height: 4px;
  background:linear-gradient(90deg, rgb(255, 21, 21), rgb(255, 121, 31));
  transition: 0.3s;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -290px;
  width: 210px;
  height: 100%;
  background-color: rgb(28, 28, 28);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 58px 10px;
  gap: 7px;
  transition: right 0.3s ease;
  z-index: 1;
  top:35px;
  font-size:23px;  
  overflow: auto;
}

.side-menu a{
    text-decoration: none;
    color: $main-text-color;
}

.side-menu.active {
  right: 0;
}

hr{width:100%;
    color:rgb(158, 0, 0);
}

.main{
    height:100vh;
& div{
    color:$main-text-color;
}
& h3{
    text-shadow: 0 0 3px rgb(174, 72, 0);
    @extend %flex-display;
}
p{
    margin:auto 10px;
}
& .top{
    padding-top: 90px;
}
& .bottom{
    padding-bottom: 20px;
}
}
