%flex-display{
    display: flex;
    justify-content: center;
    align-items: center;
}
$main-color-text:rgb(255, 255, 255);

@media (min-width:1440px) {
    .burger-menu div{
        left:810px;
    }
}