$main-text-color:rgb(211, 211, 211);
%highlighted-text-color{
    color: red;
    text-shadow: 0 0 10px red;
    font-family:monospace;
    font-size:40px;
}
%blured-frame{
    border:1px solid gray;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
    background-color: rgba(17, 17, 17, 0.5);
    backdrop-filter: blur(2px);
}
%flex-display{
    display: flex;
    justify-content: center;
    align-items: center;
}
%btn-style{
    background:linear-gradient(90deg, rgb(75, 75, 255), rgb(31, 31, 255));
    width:300px;
    height:36px;
    border:none;
    border-radius: 4px;
    color:$main-text-color;
    font-size:20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

body{margin: 0;
    background-image: url(/img/background.jpg);
    background-size:500% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

// Верхня "Шторка"
.mobile-header{position: fixed;
    @extend %flex-display;
    top: 0px;
    width: 100%;
    height: 90px;
    font-size:10px;
    color: $main-text-color;
    z-index: 2;
    background: linear-gradient(
        to bottom,
        rgb(14, 14, 14) 0%,
        rgba(14,14,14,1) 70%,
        rgba(14,14,14,0.8) 80%,
        rgba(14,14,14,0.7) 83%,
        rgba(14,14,14,0.6) 86%,
        rgba(14,14,14,0.5) 89%,
        rgba(14,14,14,0.4) 92%,
        rgba(14,14,14,0.3) 95%,
        rgba(14,14,14,0) 100%
    );
h1{position: absolute;
    top:-10px;
    font-size:35px;
}
}



// 1-ший вступний блок
.main1{position: relative;
    height: max-content;
    font-size:20px;
    top:90px;
    margin:auto 10px;
    color: $main-text-color;
    @extend %blured-frame;
.main-span1{
    @extend %highlighted-text-color;
}
}



// 2-й вступний блок
.main2{position: relative;
    height: max-content;
    top: 140px;
    font-size:25px;
    margin:auto 0px auto 50px;
    padding:10px;
    color:$main-text-color;
    @extend %blured-frame;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right:none;
.main-span2{
    @extend %highlighted-text-color;
    @extend %flex-display;
}
}



// 3-й вступний блок
.main3{position: relative;
    height: max-content;
    top: 190px;
    font-size:25px;
    margin:auto 50px auto 0px;
    padding:10px;
    color:$main-text-color;
    @extend %blured-frame;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left:none;
.main-span3{
    @extend %highlighted-text-color;
    @extend %flex-display;
}
}

button{
    @extend %btn-style;
    margin:0 auto;
}

// Бургер-меню
.burger-menu{
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger-menu div{
  width: 37px;
  height: 4px;
  background:linear-gradient(90deg, rgb(255, 21, 21), rgb(255, 121, 31));
  transition: 0.3s;
  position: relative;
  left:160px;
  top:-4px;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -290px;
  width: 210px;
  height: 100%;
  background-color: rgb(28, 28, 28);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 58px 10px;
  gap: 22px;
  transition: right 0.3s ease;
  z-index: 1;
  top:50px;
  font-size:23px;
}

.side-menu a{
    text-decoration: none;
    color: $main-text-color;
}

.side-menu.active {
  right: 0;
}

hr{width:100%;
    color:rgb(158, 0, 0);
}
