$main-text-color:rgb(211, 211, 211);
%highlighted-text-color{
    color: red;
    text-shadow: 0 0 10px red;
    font-family:monospace;
    font-size: 23px;
}

body{margin: 0;
    background-image: url(/img/background.jpg);
    background-size:500% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

// Верхня "Шторка"
.mobile-header{position: fixed;
    display: flex;
    justify-content: center;
    top: 0px;
    width: 100%;
    height: 90px;
    font-size:10px;
    color: $main-text-color;
    z-index: 1;
    background: linear-gradient(
        to bottom,
        rgb(14, 14, 14) 0%,
        rgba(14,14,14,1) 70%,
        rgba(14,14,14,0.8) 80%,
        rgba(14,14,14,0.7) 83%,
        rgba(14,14,14,0.6) 86%,
        rgba(14,14,14,0.5) 89%,
        rgba(14,14,14,0.4) 92%,
        rgba(14,14,14,0.3) 95%,
        rgba(14,14,14,0) 100%
    );
h1{position: absolute;
    top:10%;
}
}

// 1-ший вступний блок
.main{position: relative;
    height: max-content;
    top:90px;
    margin:auto 10px;
    border:1px solid gray;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
    background-color: rgba(17, 17, 17, 0.5);
    backdrop-filter: blur(2px);
    color: $main-text-color;
    display: flex;
    justify-content: center;
    align-items: center;
.mobile-header-span{
    @extend %highlighted-text-color;
}
}